go 1.22.1

use(

    sarah-connor/01-birth
    sarah-connor/02-personality
    sarah-connor/03-memory
    sarah-connor/04-selective-memory
    sarah-connor/05-function-calling
    sarah-connor/06-terminator-detector

)
